@media screen and (max-width: 450px) {
  .main-section {
    width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    z-index: 10;
  }
  .main-section .row1 {
    display: block;
    padding: 10px;
    text-align: center;
    margin: 0;
  }
  .main-section .row1 .main-section-text {
    text-align: justify;
    padding: 10px;
    margin-left: 0;
  }
  .main-section .row2 {
    display: block;
    width: 100%;
    text-align: left;
  }
  .main-section-2 .row5 {
    height: 190vh;
    padding-top: 100px;
  }
  .main-section .row2 .photo {
    text-align: center;
    margin: 10px;

    width: 100%;
  }
  .main-section .row2 .photo h3 {
    text-align: left;
    margin-left: -25px;
  }
  .main-section .row2 .photo img {
    width: 340px;
    height: 250px;
    margin-left: -200px;
  }
  .main-section-2 {
    height: 250vh;
    position: absolute;
    
  }

  .main-section-2 .row5 {
    display: block;

    padding: 0;
    margin: 0;
  }
  .main-section-2 .row5 .images {
    padding: 10px;
    margin: 40px;
    height: 450px;
    border-radius: 10px;
  }
  .main-section-2 .row5 .images img {
    border-radius: 10px;
  }
  .mq-input-box .text-box-1 {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .mq-input-box {
    display: block;
    width: 100%;
  }
  .mq-input-box .text-box-1 .text-left {
    width: 100%;
  }

  .input-box {
    display: block;
    margin-top: 400px;
  }
  .input-box .contact-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
  }
  .input-box .contact-box .text-left {
    padding: 10px;
    margin-bottom: 10px;
  }

  .input-box .contact-box form .input-box-1 {
    display: flex;
    flex-direction: column;
    margin-left: -20px;
    margin-right: 20px;
    width: 100%;
  }
  form .input-box-1 input {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -20px;
    margin-right: 20px;

  }

  form .input-50 {
    width: 350px;
    text-align: center;
    margin: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  section iframe {
    height: 200px;
    margin-bottom: 200px;
  }
  .footer-class {
    width: 100%;
    height: 250px;
    margin-top: 80%;
    padding-top: 70px;
    background-color: black;
    border-radius: 20px;
  }
  .carousel .carousel-inner .carousel-item img {
    height: 300px;
    z-index: -1;
  }
  .carousel {
    z-index: -1;
  }
}
